.vscode/
components/micropython/mpconfigoverrides.h
build*/
main/platform_gen.c
build/
/sdkconfig
/partitions.csv
sdkconfig.old
sdkconfig.defaults
managed_components/
dependencies.lock
boards/Brucon/python_modules/pkcs1/__pycache__
