menu "Driver: Generic display"
	config DISPLAY_ENABLE
		bool "Enable the display driver"
		default n
	
	config DISPLAY_TYPE
		depends on DRIVER_DISPLAY_ENABLE
		int
		default 0 if DISPLAY_SCREEN_CONTROLLER_SSD1306
		choice
			prompt "Set display type"
			default DISPLAY_SCREEN_CONTROLLER_SSD1306
			config DISPLAY_SCREEN_CONTROLLER_SSD1306
				bool "SSD1306"
			config DISPLAY_SCREEN_CONTROLLER_GC9A01
				bool "GC9A01"
		endchoice
	
	config DISPLAY_INTERFACE
		depends on DRIVER_DISPLAY_ENABLE
		int
		default 0 if DISPLAY_SPI
		default 1 if DISPLAU_I2C
		choice
			prompt "Set interface"
			default DISPLAY_SPI
			config DISPLAY_SPI
				bool "SPI"
			config DISPLAY_I2C
				bool "I2C"
		endchoice
	config DISPLAY_PIN_CS
		depends on DISPLAY_SPI
		int "Chip select pin"
		default -1
	config DISPLAY_PIN_DC
		depends on DISPLAY_SPI
		int "Data/command pin"
		default -1
	config DISPLAY_PIN_RST
		int "Reset pin"
		default -1
	config DISPLAY_I2C_ADDR
		depends on DISPLAY_I2C
		int "I2C Addres"
		default 0
	config DISPLAY_WIDTH
		depends on DRIVER_DISPLAY_ENABLE
		int "Width"
		default 128
	config DISPLAY_HEIGHT
		depends on DRIVER_DISPLAY_ENABLE
		int "Height"
		default 64
	config DISPLAY_HORIZONTAL_OFFSET
		depends on DRIVER_DISPLAY_ENABLE
		int "Offset horizontal"
		default 0
	config DISPLAY_VERTICAL_OFFSET
		depends on DRIVER_DISPLAY_ENABLE
		int "Offset vertical"
		default 0
endmenu