menu "Buses"
    config BUS_SPI2_ENABLE
        bool "Enable the SPI2 bus"
        default n

    config PIN_NUM_SPI2_CLK
        depends on BUS_SPI2_ENABLE
        int "GPIO pin used for SPI2 CLK"

    config PIN_NUM_SPI2_MOSI
        depends on BUS_SPI2_ENABLE
        int "GPIO pin used for SPI2 MOSI"

    config PIN_NUM_SPI2_MISO
        depends on BUS_SPI2_ENABLE
        int "GPIO pin used for SPI2 MISO"

    config BUS_SPI2_MAX_TRANSFERSIZE
        depends on BUS_SPI2_ENABLE
        int "SPI2 Maximum transfer size (in bytes)"
        default 4094

    config BUS_SPI3_ENABLE
        bool "Enable the SPI3 bus"
        default n

    config PIN_NUM_SPI3_CLK
        depends on BUS_SPI3_ENABLE
        int "GPIO pin used for SPI3 CLK"

    config PIN_NUM_SPI3_MOSI
        depends on BUS_SPI3_ENABLE
        int "GPIO pin used for SPI3 MOSI"

    config PIN_NUM_SPI3_MISO
        depends on BUS_SPI3_ENABLE
        int "GPIO pin used for SPI3 MISO"
        
    config BUS_SPI3_MAX_TRANSFERSIZE
        depends on BUS_SPI3_ENABLE
        int "SPI3 Maximum transfer size (in bytes)"
        default 4094
        
    config BUS_I2C0_ENABLE
        bool "Enable I2C controller 0"
        default n
    
    config PIN_NUM_I2C0_DATA
        depends on BUS_I2C0_ENABLE
        int "GPIO pin used for I2C0 data"
    
    config PIN_NUM_I2C0_CLK
        depends on BUS_I2C0_ENABLE
        int "GPIO pin used for I2C0 clock"
    
    config PIN_PULL_I2C0_DATA
        depends on BUS_I2C0_ENABLE
        bool "Enable the built-in pull-up for the I2C0 data pin"
        default n
    
    config PIN_PULL_I2C0_CLK
        depends on BUS_I2C0_ENABLE
        bool "Enable the built-in pull-up for the I2C0 clock pin"
        default n
    
    config I2C0_MASTER_FREQ_HZ
        depends on BUS_I2C0_ENABLE
        int "I2C0 speed in Hz"
        default 100000

    config BUS_I2C1_ENABLE
        bool "Enable I2C controller 1"
        default n
    
    config PIN_NUM_I2C1_DATA
        depends on BUS_I2C1_ENABLE
        int "GPIO pin used for I2C1 data"
    
    config PIN_NUM_I2C1_CLK
        depends on BUS_I2C1_ENABLE
        int "GPIO pin used for I2C1 clock"
    
    config PIN_PULL_I2C1_DATA
        depends on BUS_I2C1_ENABLE
        bool "Enable the built-in pull-up for the I2C1 data pin"
        default n
    
    config PIN_PULL_I2C1_CLK
        depends on BUS_I2C1_ENABLE
        bool "Enable the built-in pull-up for the I2C1 clock pin"
        default n
    
    config I2C1_MASTER_FREQ_HZ
        depends on BUS_I2C1_ENABLE
        int "I2C1 speed in Hz"
        default 100000
endmenu
